<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciando con Vue2</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./app.js" defer></script>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div id="appCalculadora">
        <div class="mensajeBienvenida colorGreen">Calculadora</div>
        <br>
        Seleccionar operación: <select class="selectOperacion" v-model="operacion" v-on:change="CalcularResultado()">
            <option value="1">Suma</option>
            <option value="2">Resta</option>
            <option value="3">Multiplicación</option>
            <option value="4">División</option>
        </select>
        <br><br>
        <input type="number" v-on:keyup="CalcularResultado()" v-model="numero1">
        <span class="operador">{{ operador }}</span>
        <input type="number" v-on:keyup="CalcularResultado()" v-model="numero2">
        <span class="operador">=</span> 
        <span class="resultado">{{ resultado }}</span>
    </div>
</body>
</html>